.gitignore
aide-memoire/Data Science (Coursera)/Intro to DS in Py/course1_downloads
subreddit_dataisbeautiful/
**/**/*.ipynb_checkpoints/**
aide-memoire/**/.ipynb_checkpoints/**
aide-memoire/stats/.ipynb_checkpoints/random_variable-checkpoint.ipynb
aide-memoire/stats/.ipynb_checkpoints/random_variable-checkpoint.ipynb
